*{
    margin: 0;
    padding: 0%;
}

.main{
    width: 100%;
    background: url(c:\Users\pcuser\Desktop\Alzate.jpg);
    background-position: center;
    background-size: cover;
    height: 100vh;
    position: relative;
    font-family: sans-serif;
}

.navbar{
    width: 86%;
    display: flex;
    margin: auto;
    padding: 15px;
    align-items: center;
    justify-content: space-between;
}
    
.navbar .logo{
    width: 160px;
    cursor: pointer;
    margin-top: -3%;
    margin-left: -2%;
}

ul{
    margin-top: -4%;
}
ul li{
    list-style: none;
    display:inline-block;
    padding: 10px 16px;
}

ul li a{
    font-size: 16px;
    font-weight: bold;
    text-decoration: none;
    color: blue;
    margin-top: -3%;
    transition: .4s ease;


}

ul li a:hover{
    color: rgb(red, green, blue);
}

.info{
    margin-left: 7%;
    margin-top: 6%;
}

.info h1{
    font-size: 65px;
    color: rgb(36,32,30);
}

.info h3{
    font-size: 18px;
    letter-spacing: 1px;
    line-height: 24px;
}

.info span{
    color:blue
}

.info a{
    text-decoration: none;
    color:aliceblue;
    background:black;
    margin: 26px 0;
    padding: 10px 18px;
    border-radius: 10px;
    display:inline-block;
    transition: .4s ease;
}

.info a:hover{
    background:rgb(59,174,209)
}

.image{
    width: 30%;
    height: 60%;
    position: absolute;
    right: 100px;
    bottom: 0;
}

.image img{
    position: absolute;
    height: 140%;
    left: 40%;
    transform: translate(-50%);
    bottom: 0;
}

body {
    font-family: Arial, sans-serif;
    background-image: url(download.png);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
  }
  
  .login-container {
    background: linear-gradient(135deg, rgb(78, 100, 243), rgb(125, 170, 213));
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    max-width: 350px;
    width: 300px;
    text-align: center;
    border: 5px solid rgb(105, 244, 251);
  }
  
  h2 {
    margin-bottom: 20px;
  }
  
  .input-group {
    margin-bottom: 10px;
    text-align: left;
  }
  
  .input-group label {
    display: block;
    margin-bottom: 10px;
  }
  
  .input-group input {
    width: calc(100% - 20px);
    padding: 8px 10px;
    border: 2px solid #482e8f;
    border-radius: 4px;
  }
  
  button {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 4px;
    background-color: #641e8a;
    color: black;
    font-size: 16px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: antiquewhite;
  }


  body{

    background-image: url(download.png);
    background-size: cover;
    justify-content: center;
    align-items: center;

}

.form-container {
    background: linear-gradient(135deg, rgb(78, 100, 243), rgb(125, 170, 213));
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    max-width: 600px;
    width: 300px;
    text-align: center;
    border: 5px solid rgb(105, 244, 251);
    display: flex;
    margin-left: auto;
    margin-right: auto;
    height: 800px;
}

h2 {
    text-align: center;
    margin-bottom: 15px;
    color: #3694f9;
    font-size: 20px;
    text-shadow: 1px 1px 2px #69fadf;
}

.form-group {
    margin-bottom: 10px;
}

.form .gender-box {
    margin-top: 20px;
}

.gender-box h3 {
    color: antiquewhite;
    font-size: 1rem;
    font-weight: 400;
    margin-bottom: 8px;
}

.form :where(.gender-option, .gender) {
    display: flex;
    align-items: center;
    column-gap: 50px;
    flex-wrap: wrap;
}

.form .gender {
    column-gap: 5px;
    cursor: pointer;
}

.gender input {
    accent-color: #3866d8;
}
.form :where(.gender input, .gender label) {
    cursor: pointer;
}

.gender label {
    color: antiquewhite;
}

label {
    display: block;
    margin-bottom: 5px;
    color: antiquewhite;
    font-weight: bold;
}

input[type="text"],
input[type="password"],
input[type="date"],
input[type="number"] {
 width: 100%;
 padding: 8px;
 box-sizing: border-box;
 border: 2px solid #482e8f;
 border-radius: 8px;
 background-color: antiquewhite;
 color: #7c4de8;
font-size: 14px;
font-family: 'Comic Sans MS', cursive, sans-serif;
}

input[type="text"]:focus,
input[type="password"]:focus,
input[type="date"]:focus,
input[type="number"]:focus {
 border-color: #56f0fb;
 outline: none;
 box-shadow: 0 0 5px rgba(41, 102, 173, 0.5);
}

button {
        width: 100%;
        padding: 10px;
        border: none;
        background-color: #641e8a;
        color: antiquewhite;
        border-radius: 8px;
        cursor: pointer;
        font-size: 16px;
        font-family: 'Comic Sans MS', cursive, sans-serif;
        transition: background-color 0.3s ease;
    }

button:hover {
        background-color: #397ef6;
    }

button:active {
        background-color: #c812fb1c;
    }

.switch-form {
        text-align: center;
        margin-top: 10px;
        color: antiquewhite;
    }

.switch-form a {
        color: #a23af7;
        text-decoration: none;
        font-weight: bold;
    }

.switch-form a:hover {
        text-decoration: underline;
    }

    @media(max-width: 576px) {
        .input-box .input-field {
            width: 100%;
            margin: 10px 0;
        }
    }